
@model Uye
@{
    ViewBag.Title = "ProfilDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Profil Düzenle</h2><hr />

<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm("ProfilDuzenle", "Uyeler", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)


            @Html.LabelFor(m => m.KullaniciAdi)

            @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.KullaniciAdi, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.AdSoyad)

            @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.AdSoyad, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.Email)

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.Sifre)

            @Html.PasswordFor(m => m.Sifre, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.Sifre, null,
            new { @class = "text-danger" })
            <br />

            <input type="submit" value="Kaydet" class="btn btn-success" />
            <br />
            <br />
        }

    </div>
</div>







